node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
.gitlab-ci.yml
.vscode
.vscode-test
.env
.env.*
logs
coverage
dist
build
frontend/node_modules
backend/node_modules
frontend/dist
backend/dist
backup.sql
